
<% meta title: "Sell Electronics NYC Information | Sell Electronics Manhattan Information | Sell Electronics Queens Information" %>




<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="text-center">
      <h2>Manhattan Location</h2>
      <p><iframe width="80%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=71%20West%2047th%20Street%2C%20New%20York%2C%20NY%2C%20United%20States%20suite%20302&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E"></iframe>
      </p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6"></div>
  <div class="text-center">
    <h2>Queens Location</h2>
    <p><iframe width="80%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=8710%20Lefferts%20Blvd%2C%20Richmond%20Hill%2C%20NY%2C%20United%20States&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E"></iframe>
    </p>
  </div>
</div>
<hr/>